<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <!-- Fetch All Data  -->
      Fetch Single Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-list *ngIf="data?.length > 0">
    <ion-item *ngFor="let item of data">
      <ion-label>{{item?.title}}</ion-label>
    </ion-item>
  </ion-list> -->

  <ion-item>
    <ion-label color="purple" class="ion-text-wrap ion-text-uppercase ion-padding-vertical">{{data?.title}}</ion-label>
  </ion-item>
</ion-content>
